In [2]:
import pandas as pd
import numpy as np

In [2]:
colunas = ['jogadorMao', 'cartaAltaRobo', 'cartaMediaRobo', 'cartaBaixaRobo', 'cartaAltaHumano', 'cartaMediaHumano', 'cartaBaixaHumano', 'primeiraCartaRobo', 'primeiraCartaHumano', 'segundaCartaRobo', 'segundaCartaHumano', 'terceiraCartaRobo', 'terceiraCartaHumano', 'ganhadorPrimeiraRodada', 'ganhadorSegundaRodada', 'ganhadorTerceiraRodada', 'quemPediuEnvido', 'quemPediuFaltaEnvido', 'quemPediuRealEnvido', 'pontosEnvidoRobo', 'pontosEnvidoHumano', 'quemNegouEnvido', 'quemGanhouEnvido', 'quemFlor', 'quemContraFlor', 'quemContraFlorResto', 'quemNegouFlor', 'pontosFlorRobo', 'pontosFlorHumano', 'quemGanhouFlor', 'quemEscondeuPontosEnvido', 'quemEscondeuPontosFlor', 'quemTruco', 'quemRetruco', 'quemValeQuatro', 'quemNegouTruco', 'quemGanhouTruco','quemEnvido', 'quemFlor', 'naipeCartaAltaRobo', 'naipeCartaMediaRobo', 'naipeCartaBaixaRobo', 'naipeCartaAltaHumano', 'naipeCartaMediaHumano', 'naipeCartaBaixaHumano', 'naipePrimeiraCartaRobo', 'naipePrimeiraCartaHumano', 'naipeSegundaCartaRobo', 'naipeSegundaCartaHumano', 'naipeTerceiraCartaRobo', 'naipeTerceiraCartaHumano', 'qualidadeMaoRobo', 'qualidadeMaoHumano']

In [3]:
pd.DataFrame(columns=colunas)

Empty DataFrame
Columns: [jogadorMao, cartaAltaRobo, cartaMediaRobo, cartaBaixaRobo, cartaAltaHumano, cartaMediaHumano, cartaBaixaHumano, primeiraCartaRobo, primeiraCartaHumano, segundaCartaRobo, segundaCartaHumano, terceiraCartaRobo, terceiraCartaHumano, ganhadorPrimeiraRodada, ganhadorSegundaRodada, ganhadorTerceiraRodada, quemPediuEnvido, quemPediuFaltaEnvido, quemPediuRealEnvido, pontosEnvidoRobo, pontosEnvidoHumano, quemNegouEnvido, quemGanhouEnvido, quemFlor, quemContraFlor, quemContraFlorResto, quemNegouFlor, pontosFlorRobo, pontosFlorHumano, quemGanhouFlor, quemEscondeuPontosEnvido, quemEscondeuPontosFlor, quemTruco, quemRetruco, quemValeQuatro, quemNegouTruco, quemGanhouTruco, quemEnvido, quemFlor, naipeCartaAltaRobo, naipeCartaMediaRobo, naipeCartaBaixaRobo, naipeCartaAltaHumano, naipeCartaMediaHumano, naipeCartaBaixaHumano, naipePrimeiraCartaRobo, naipePrimeiraCartaHumano, naipeSegundaCartaRobo, naipeSegundaCartaHumano, naipeTerceiraCartaRobo, naipeTerceiraCartaHumano, qualidadeMaoRobo, qualidadeMaoHumano]
Index: []

[0 rows x 53 columns]

In [12]:
df = pd.read_csv('dbtrucoimitacao_maos.csv', index_col='idMao')
colunas_string = [
    'naipeCartaAltaRobo', 'naipeCartaMediaRobo','naipeCartaBaixaRobo', 'naipeCartaAltaHumano','naipeCartaMediaHumano', 'naipeCartaBaixaHumano','naipePrimeiraCartaRobo', 'naipePrimeiraCartaHumano',	'naipeSegundaCartaRobo', 'naipeSegundaCartaHumano','naipeTerceiraCartaRobo', 'naipeTerceiraCartaHumano',
    ]
colunas_int = [col for col in df.columns if col not in colunas_string]

# df[colunas_int] = df[colunas_int].astype('int').apply(abs)
# df[colunas_int] = df[colunas_int].fillna(0)
# df[colunas_int] = df[colunas_int].astype('int')
# df[colunas_string] = df[colunas_string].any(axis=1)
# df[colunas_string] = df[colunas_string].apply(lambda x: print(x), axis=1)
# pd.get_dummies(df[colunas_string], prefix=colunas_string)
df.replace('ESPADAS', '1', inplace=True)
df.replace('OURO', '2', inplace=True)
df.replace('BASTOS', '3', inplace=True)
df.replace('COPAS', '4', inplace=True)
df[colunas_string] = df[colunas_string].fillna(0)
df[colunas_string] = df[colunas_string].astype('int16')

In [13]:
df[colunas_string].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27515 entries, 1 to 7718
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   naipeCartaAltaRobo        27515 non-null  int16
 1   naipeCartaMediaRobo       27515 non-null  int16
 2   naipeCartaBaixaRobo       27515 non-null  int16
 3   naipeCartaAltaHumano      27515 non-null  int16
 4   naipeCartaMediaHumano     27515 non-null  int16
 5   naipeCartaBaixaHumano     27515 non-null  int16
 6   naipePrimeiraCartaRobo    27515 non-null  int16
 7   naipePrimeiraCartaHumano  27515 non-null  int16
 8   naipeSegundaCartaRobo     27515 non-null  int16
 9   naipeSegundaCartaHumano   27515 non-null  int16
 10  naipeTerceiraCartaRobo    27515 non-null  int16
 11  naipeTerceiraCartaHumano  27515 non-null  int16
dtypes: int16(12)
memory usage: 859.8 KB

In [16]:
df[colunas_int]

,jogadorMao,cartaAltaRobo,cartaMediaRobo,cartaBaixaRobo,cartaAltaHumano,cartaMediaHumano,cartaBaixaHumano,primeiraCartaRobo,primeiraCartaHumano,segundaCartaRobo,...,quandoCartaVirada,quantidadeChamadasHumano,quantidadeChamadasRobo,qualidadeMaoRobo,qualidadeMaoHumano,quantidadeChamadasEnvidoRobo,quantidadeChamadasEnvidoHumano,saldoTruco,saldoEnvido,saldoFlor
idMao,,,,,,,,,,,,,,,,,,,,,
1,2,52,8,2,50,16,16,52,16,2.0,...,0.0,1,0,62,82,1.0,0.0,-1,1,NaN
2,1,24,16,4,7,6,4,16,4,4.0,...,0.0,0,1,44,17,1.0,0.0,1,1,NaN
3,2,12,8,4,42,16,1,4,1,8.0,...,0.0,1,0,24,59,0.0,1.0,-1,-5,NaN
4,1,24,4,1,24,8,6,24,6,1.0,...,0.0,1,0,29,38,1.0,0.0,-1,1,NaN
5,2,50,12,3,7,6,4,12,4,3.0,...,0.0,0,1,65,17,0.0,1.0,1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7713,1,16,12,8,42,6,4,-46,-46,-46.0,...,NaN,0,0,0,0,NaN,NaN,3,0,NaN
7714,2,12,7,1,0,0,0,-46,-46,-46.0,...,NaN,0,0,0,0,NaN,NaN,1,0,NaN
7716,2,16,8,3,0,0,0,3,16,-46.0,...,NaN,0,0,0,0,NaN,NaN,1,-1,NaN
7717,1,52,24,8,42,24,12,8,42,52.0,...,NaN,0,0,0,0,NaN,NaN,3,1,NaN
7718,2,52,8,1,0,0,0,-46,-46,-46.0,...,NaN,0,0,0,0,NaN,NaN,1,-1,NaN

In [1]:
from truco.dados import Dados
from truco.cbr import Cbr

dados = Dados()
cbr = Cbr()

In [2]:
dados.retornar_registro()

,jogadorMao,cartaAltaRobo,cartaMediaRobo,cartaBaixaRobo,cartaAltaHumano,cartaMediaHumano,cartaBaixaHumano,primeiraCartaRobo,primeiraCartaHumano,segundaCartaRobo,...,naipeTerceiraCartaHumano,quantidadeChamadasHumano,quantidadeChamadasRobo,qualidadeMaoRobo,qualidadeMaoHumano,quantidadeChamadasEnvidoRobo,quantidadeChamadasEnvidoHumano,saldoTruco,saldoEnvido,saldoFlor
idMao,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
cbr.retornar_similares(dados.retornar_registro())

ValueError: Expected n_neighbors <= n_samples,  but n_samples = 1, n_neighbors = 100