In [2]:
import pandas as pd
import numpy as np

In [2]:
colunas = ['jogadorMao', 'cartaAltaRobo', 'cartaMediaRobo', 'cartaBaixaRobo', 'cartaAltaHumano', 'cartaMediaHumano', 'cartaBaixaHumano', 'primeiraCartaRobo', 'primeiraCartaHumano', 'segundaCartaRobo', 'segundaCartaHumano', 'terceiraCartaRobo', 'terceiraCartaHumano', 'ganhadorPrimeiraRodada', 'ganhadorSegundaRodada', 'ganhadorTerceiraRodada', 'quemPediuEnvido', 'quemPediuFaltaEnvido', 'quemPediuRealEnvido', 'pontosEnvidoRobo', 'pontosEnvidoHumano', 'quemNegouEnvido', 'quemGanhouEnvido', 'quemFlor', 'quemContraFlor', 'quemContraFlorResto', 'quemNegouFlor', 'pontosFlorRobo', 'pontosFlorHumano', 'quemGanhouFlor', 'quemEscondeuPontosEnvido', 'quemEscondeuPontosFlor', 'quemTruco', 'quemRetruco', 'quemValeQuatro', 'quemNegouTruco', 'quemGanhouTruco','quemEnvido', 'quemFlor', 'naipeCartaAltaRobo', 'naipeCartaMediaRobo', 'naipeCartaBaixaRobo', 'naipeCartaAltaHumano', 'naipeCartaMediaHumano', 'naipeCartaBaixaHumano', 'naipePrimeiraCartaRobo', 'naipePrimeiraCartaHumano', 'naipeSegundaCartaRobo', 'naipeSegundaCartaHumano', 'naipeTerceiraCartaRobo', 'naipeTerceiraCartaHumano', 'qualidadeMaoRobo', 'qualidadeMaoHumano']

In [3]:
pd.DataFrame(columns=colunas)

Empty DataFrame
Columns: [jogadorMao, cartaAltaRobo, cartaMediaRobo, cartaBaixaRobo, cartaAltaHumano, cartaMediaHumano, cartaBaixaHumano, primeiraCartaRobo, primeiraCartaHumano, segundaCartaRobo, segundaCartaHumano, terceiraCartaRobo, terceiraCartaHumano, ganhadorPrimeiraRodada, ganhadorSegundaRodada, ganhadorTerceiraRodada, quemPediuEnvido, quemPediuFaltaEnvido, quemPediuRealEnvido, pontosEnvidoRobo, pontosEnvidoHumano, quemNegouEnvido, quemGanhouEnvido, quemFlor, quemContraFlor, quemContraFlorResto, quemNegouFlor, pontosFlorRobo, pontosFlorHumano, quemGanhouFlor, quemEscondeuPontosEnvido, quemEscondeuPontosFlor, quemTruco, quemRetruco, quemValeQuatro, quemNegouTruco, quemGanhouTruco, quemEnvido, quemFlor, naipeCartaAltaRobo, naipeCartaMediaRobo, naipeCartaBaixaRobo, naipeCartaAltaHumano, naipeCartaMediaHumano, naipeCartaBaixaHumano, naipePrimeiraCartaRobo, naipePrimeiraCartaHumano, naipeSegundaCartaRobo, naipeSegundaCartaHumano, naipeTerceiraCartaRobo, naipeTerceiraCartaHumano, qualidadeMaoRobo, qualidadeMaoHumano]
Index: []

[0 rows x 53 columns]

In [12]:
df = pd.read_csv('dbtrucoimitacao_maos.csv', index_col='idMao')
colunas_string = [
    'naipeCartaAltaRobo', 'naipeCartaMediaRobo','naipeCartaBaixaRobo', 'naipeCartaAltaHumano','naipeCartaMediaHumano', 'naipeCartaBaixaHumano','naipePrimeiraCartaRobo', 'naipePrimeiraCartaHumano',	'naipeSegundaCartaRobo', 'naipeSegundaCartaHumano','naipeTerceiraCartaRobo', 'naipeTerceiraCartaHumano',
    ]
colunas_int = [col for col in df.columns if col not in colunas_string]

# df[colunas_int] = df[colunas_int].astype('int').apply(abs)
# df[colunas_int] = df[colunas_int].fillna(0)
# df[colunas_int] = df[colunas_int].astype('int')
# df[colunas_string] = df[colunas_string].any(axis=1)
# df[colunas_string] = df[colunas_string].apply(lambda x: print(x), axis=1)
# pd.get_dummies(df[colunas_string], prefix=colunas_string)
df.replace('ESPADAS', '1', inplace=True)
df.replace('OURO', '2', inplace=True)
df.replace('BASTOS', '3', inplace=True)
df.replace('COPAS', '4', inplace=True)
df[colunas_string] = df[colunas_string].fillna(0)
df[colunas_string] = df[colunas_string].astype('int16')

In [13]:
df[colunas_string].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27515 entries, 1 to 7718
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   naipeCartaAltaRobo        27515 non-null  int16
 1   naipeCartaMediaRobo       27515 non-null  int16
 2   naipeCartaBaixaRobo       27515 non-null  int16
 3   naipeCartaAltaHumano      27515 non-null  int16
 4   naipeCartaMediaHumano     27515 non-null  int16
 5   naipeCartaBaixaHumano     27515 non-null  int16
 6   naipePrimeiraCartaRobo    27515 non-null  int16
 7   naipePrimeiraCartaHumano  27515 non-null  int16
 8   naipeSegundaCartaRobo     27515 non-null  int16
 9   naipeSegundaCartaHumano   27515 non-null  int16
 10  naipeTerceiraCartaRobo    27515 non-null  int16
 11  naipeTerceiraCartaHumano  27515 non-null  int16
dtypes: int16(12)
memory usage: 859.8 KB

In [16]:
df[colunas_int]

,jogadorMao,cartaAltaRobo,cartaMediaRobo,cartaBaixaRobo,cartaAltaHumano,cartaMediaHumano,cartaBaixaHumano,primeiraCartaRobo,primeiraCartaHumano,segundaCartaRobo,...,quandoCartaVirada,quantidadeChamadasHumano,quantidadeChamadasRobo,qualidadeMaoRobo,qualidadeMaoHumano,quantidadeChamadasEnvidoRobo,quantidadeChamadasEnvidoHumano,saldoTruco,saldoEnvido,saldoFlor
idMao,,,,,,,,,,,,,,,,,,,,,
1,2,52,8,2,50,16,16,52,16,2.0,...,0.0,1,0,62,82,1.0,0.0,-1,1,NaN
2,1,24,16,4,7,6,4,16,4,4.0,...,0.0,0,1,44,17,1.0,0.0,1,1,NaN
3,2,12,8,4,42,16,1,4,1,8.0,...,0.0,1,0,24,59,0.0,1.0,-1,-5,NaN
4,1,24,4,1,24,8,6,24,6,1.0,...,0.0,1,0,29,38,1.0,0.0,-1,1,NaN
5,2,50,12,3,7,6,4,12,4,3.0,...,0.0,0,1,65,17,0.0,1.0,1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7713,1,16,12,8,42,6,4,-46,-46,-46.0,...,NaN,0,0,0,0,NaN,NaN,3,0,NaN
7714,2,12,7,1,0,0,0,-46,-46,-46.0,...,NaN,0,0,0,0,NaN,NaN,1,0,NaN
7716,2,16,8,3,0,0,0,3,16,-46.0,...,NaN,0,0,0,0,NaN,NaN,1,-1,NaN
7717,1,52,24,8,42,24,12,8,42,52.0,...,NaN,0,0,0,0,NaN,NaN,3,1,NaN
7718,2,52,8,1,0,0,0,-46,-46,-46.0,...,NaN,0,0,0,0,NaN,NaN,1,-1,NaN

In [1]:
from truco.dados import Dados
from truco.cbr import Cbr

dados = Dados()
cbr = Cbr()

In [2]:
dados.retornar_registro()

,jogadorMao,cartaAltaRobo,cartaMediaRobo,cartaBaixaRobo,cartaAltaHumano,cartaMediaHumano,cartaBaixaHumano,primeiraCartaRobo,primeiraCartaHumano,segundaCartaRobo,...,naipeTerceiraCartaHumano,quantidadeChamadasHumano,quantidadeChamadasRobo,qualidadeMaoRobo,qualidadeMaoHumano,quantidadeChamadasEnvidoRobo,quantidadeChamadasEnvidoHumano,saldoTruco,saldoEnvido,saldoFlor
idMao,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
cbr.retornar_similares(dados.retornar_registro())

AttributeError: 'Cbr' object has no attribute 'retornar_similares'

In [6]:
rodada = 1

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27515 entries, 1 to 7718
Data columns (total 74 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jogadorMao                      27515 non-null  int64
 1   cartaAltaRobo                   27515 non-null  int64
 2   cartaMediaRobo                  27515 non-null  int64
 3   cartaBaixaRobo                  27515 non-null  int64
 4   cartaAltaHumano                 10776 non-null  float64
 5   cartaMediaHumano                10776 non-null  float64
 6   cartaBaixaHumano                10776 non-null  float64
 7   primeiraCartaRobo               21810 non-null  float64
 8   primeiraCartaHumano             20092 non-null  float64
 9   segundaCartaRobo                12696 non-null  float64
 10  segundaCartaHumano              13441 non-null  float64
 11  terceiraCartaRobo               8257 non-null   float64
 12  terceiraCartaHumano             9623 non-null   float64
 13  ganhadorPrimeiraRodada          25763 non-null  float64
 14  ganhadorSegundaRodada           26324 non-null  float64
 15  ganhadorTerceiraRodada          26928 non-null  float64
 16  quemPediuEnvido                 13194 non-null  float64
 17  quemPediuFaltaEnvido            2812 non-null   float64
 18  quemPediuRealEnvido             5781 non-null   float64
 19  pontosEnvidoRobo                27195 non-null  float64
 20  pontosEnvidoHumano              27191 non-null  float64
 21  quemNegouEnvido                 16406 non-null  float64
 22  quemGanhouEnvido                20154 non-null  float64
 23  tentosEnvido                    19383 non-null  float64
 24  quemFlor                        2902 non-null   float64
 25  quemContraFlor                  483 non-null    float64
 26  quemContraFlorResto             483 non-null    float64
 27  quemNegouFlor                   0 non-null      float64
 28  pontosFlorRobo                  1150 non-null   float64
 29  pontosFlorHumano                1112 non-null   float64
 30  quemGanhouFlor                  1146 non-null   float64
 31  tentosFlor                      1146 non-null   float64
 32  quemEscondeuPontosEnvido        176 non-null    float64
 33  quemEscondeuPontosFlor          0 non-null      float64
 34  quemTruco                       24222 non-null  float64
 35  quandoTruco                     24222 non-null  float64
 36  quemRetruco                     6163 non-null   float64
 37  quandoRetruco                   6163 non-null   float64
 38  quemValeQuatro                  1635 non-null   float64
 39  quandoValeQuatro                1635 non-null   float64
 40  quemNegouTruco                  14193 non-null  float64
 41  quemGanhouTruco                 27515 non-null  int64
 42  tentosTruco                     27482 non-null  float64
 43  tentosAnterioresRobo            25132 non-null  float64
 44  tentosAnterioresHumano          25201 non-null  float64
 45  tentosPosterioresRobo           26713 non-null  float64
 46  tentosPosterioresHumano         26859 non-null  float64
 47  quemBaralho                     2079 non-null   float64
 48  quandoBaralho                   2079 non-null   float64
 49  quemContraFlorFalta             0 non-null      float64
 50  quemEnvidoEnvido                8 non-null      float64
 51  quemFlorFlor                    485 non-null    float64
 52  quandoCartaVirada               0 non-null      float64
 53  naipeCartaAltaRobo              27515 non-null  int64
 54  naipeCartaMediaRobo             27515 non-null  int64
 55  naipeCartaBaixaRobo             27515 non-null  int64
 56  naipeCartaAltaHumano            10776 non-null  float64
 57  naipeCartaMediaHumano           10776 non-null  float64
 58  naipeCartaBaixaHumano           10776 non-null  float64
 59  naipePrimeiraCartaRobo          22170 non-null  float64
 60  naipePrimeiraCartaHumano        22237 non-null  float64
 61  naipeSegundaCartaRobo           14162 non-null  float64
 62  naipeSegundaCartaHumano         14183 non-null  float64
 63  naipeTerceiraCartaRobo          8764 non-null   float64
 64  naipeTerceiraCartaHumano        8717 non-null   float64
 65  quantidadeChamadasHumano        174 non-null    float64
 66  quantidadeChamadasRobo          147 non-null    float64
 67  qualidadeMaoRobo                454 non-null    float64
 68  qualidadeMaoHumano              454 non-null    float64
 69  quantidadeChamadasEnvidoRobo    134 non-null    float64
 70  quantidadeChamadasEnvidoHumano  151 non-null    float64
 71  saldoTruco                      13477 non-null  float64
 72  saldoEnvido                     10045 non-null  float64
 73  saldoFlor                       1 non-null      float64
dtypes: float64(66), int64(8)
memory usage: 15.7 MB

In [46]:
df= cbr.dataset
# df = self.dados
df.loc[:, df.dtypes == object] = df.loc[:, df.dtypes == object].astype(int)
df = df[df.columns].astype(int)
df = df[df>0]
# cols = df.columns
# df = df.apply(lambda x: x > 0)
# df.apply(lambda x: list(cols[x.values]), axis=1)
pontuacao_cartas = [16, 46, 8]
ordem_carta_jogada = 'CartaRobo'
if ((rodada) == 3): ordem_carta_jogada = 'primeira' + ordem_carta_jogada
elif ((rodada) == 2): ordem_carta_jogada = 'segunda' + ordem_carta_jogada
elif ((rodada) == 1): ordem_carta_jogada = 'terceira' + ordem_carta_jogada

carta_escolhida = 0

# for i in reversed(range(len(df[ordem_carta_jogada].value_counts().index.to_list()))): 
#     aux = df[ordem_carta_jogada].value_counts().index.to_list()[i]
#     print(aux)
reversed(range(len(df[ordem_carta_jogada].value_counts().index.to_list())))
    
    # if (carta_escolhida in pontuacao_cartas):
    #     carta_escolhida = aux

if (carta_escolhida == 0):
    valor_referencia = df[ordem_carta_jogada].value_counts().index.to_list()[0]
    carta_escolhida = min(pontuacao_cartas, key=lambda x:abs(x-valor_referencia))

In [47]:
df[ordem_carta_jogada].value_counts().index.to_list()[0]

24.0

In [ ]:
# Teste de remoÃ§Ã£o de valores vazios
# df = self.dados
# cols = df.columns
# novo_df = df.apply(lambda x: x > 0)
# novo_df.apply(lambda x: list(cols[x.values]), axis=1)